<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace = "fragment/fragments :: charset">
<meta th:replace = "fragment/fragments :: viewport">
<link th:replace = "fragment/fragments :: bootstrap">
<title>Login Page</title>
</head>
<body>

<div class="container">
	<h1>Login Page</h1>
	<hr>
	<form action="#" th:action="@{/authenticateUser}" method="post">
	
		<p th:if="${param.error != null}">Username or password or both are incorrect please check</p>
	
		<p th:if="${param.logout != null}">You have been logout</p>

		<table>
			<tbody>
				<tr>
					<td scope="row"><label>Username:</label></td>
					<td><input type="text" name="username"/></td>
				</tr>
				
				<tr>
					<td scope="row"><label>Password:</label></td>
					<td><input type="password" name="password"/></td>
				</tr>
				
				<tr>
					<td scope="row"></td>
					<td><input type="submit" value="check"></td>
				</tr>
			</tbody>	
		</table>
	</form>
	
</div>

</body>
</html>